* { margin: 0; padding: 0; box-sizing: border-box; font-family: sans-serif; }
/* The Modal (background) */
/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 380px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.main-header {
    background-image: url(../images/slide01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -240px;
    /*width: 1279px;*/
    height: 768px;
    /*transform: scale(1.01);*/
    overflow: hidden;

}
.bg-color {
    background: #00000096;
    width: 100%;
    height: 100%;
}

a#logo img {
    width: 50px;
    /* float: left; */
}
a#logo span {
    color: #fff;
    font-size: 30px;
    position: relative;
    bottom: -15px;
    left: -13px;
}
.page_header {
    width: 100%;
    height: 95px;
    position: relative;
    border-bottom: 1px solid #ffffff26;
}
.container {
    margin-left: 100px !important;
}
.row {
	position: relative;
	height: 90px;
}
#logo-left {
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 5%;*/
    float: left;
    white-space: nowrap;
}
.top-nav #menu-main-manu .menu-item {
	margin: 0 20px;
	
}
.top-nav {
    justify-content: flex-end;
    display: flex;	
}
.top-nav #menu-main-manu .menu-item a {
	font-size: 16px;
	color: #fff;
	letter-spacing: 1.5px;
	text-decoration: none;
}
.top-nav #menu-course-categories #menu-item-10 {
    justify-content: flex-end;
    display: flex;
}
.top-nav #menu-course-categories #menu-item-10 a {
	color: #5caf01;
}
.justify-content-lg-end span a {
    color: #fff;
    text-decoration: none;
}
.container {
	height: 100%;
}
.secondary-dropdown-menu {
    width: 100%;
    height: 95px;
    line-height: 95px;
}

/*container 1 searchBar and cetegory section*/

.top-text {
    color: #fff;
    font-size: 21px;
    margin: 17px 0;
}
.freecourse {
    color: #fff;
    font-size: 55px;
    line-height: 1.0;
    font-family: fantasy;
    letter-spacing: 4px;
}
.opening-date {
    color: #fff;
    letter-spacing: 1px;
    margin: 20px 0px;
}
.find-course {
    position: relative;
} 
.search_input {
    position: relative;
}
#searchIcon {
    position: absolute;
    top: 7px;
    left: 14px;
    color: #fff;
    font-size: 20px;
}
#searchBarInput {
    width: 80%;
    padding: 8px 0px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    outline: none;
    padding-left: 40px;
    color: #fff;
    font-size: 16px;
}
#btn-green {
    position: absolute;
    right: -45px;
    top: 0px;
    padding: 9px 25px;
    border-radius: 8px;
    background: #77c701;
    border: 1px solid #77c701;
    outline: none;
}

/*cetegory right side*/

.Categories_row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0;
}
.Categories_box {
    border: 1px solid #fff;
    width: 120px;
    height: 120px;
    border-radius: 5px;
}
.Categories_box h3 {
    font-size: 20px;
    color: #fff;
    text-align: center;
    position: relative;
    bottom: -40px;
}
span.technology img, 
.business img, 
.hman img, .lang img, 
.marketing img, 
.math img, 
.science img, 
.lifestyle img, 
.health img  {
    width: 100%;
}
span.technology,
.business,
.hman,
.lang,
.marketing,
.math,
.science,
.lifestyle,
.health {
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto;
    padding-top: 15px;
}
#header-box2 {
    /*-webkit-box-flex: 0;*/
    -ms-flex: 0 0 39%;
    flex: 0 0 39% !important;
    max-width: 37% !important;
    position: absolute;
    right: 0;
}
#serachba-cetegory-header {
	padding-top: 10%;
}

/*<!-- increasementList courses,learners,countries start-->*/

.increase-c-c-l {
    background: #77c701;
    height: 180px;
}
div#learners {
    height: 180px;
    color: #fff;
    padding: 68px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    right: 15px;
}
.incre-icon {
    width: 20%;
    height: 60px;
    position: relative;
    right: -70px;
    top: 6px;
}
.fa-search {
	font-size: 20px !important;
}
i.fas {
    font-size: 35px;
}
#incre-row {
	width: 100%;
	height: 100%;
	margin: 0;
}

/*courses card section fronface and backface start*/
.cardHeading {
	text-align: center;
	width: 100%;
	height: 100%;
	margin: 35px 0;
}
.cardHeading h6 {
    font-size: 22px;
    color: #b3b3b3;
    letter-spacing: 1px;
}
.cardHeading h1 {
    font-size: 45px;
    font-weight: bold;
    margin-top: 15px;
}
#cardMain-container {
	margin: 0 100px !important;
}
.col-4 {
	padding: 0 !important;
}
.front-image {
	width: 100%;
}
.front-image img {
	width: 100%;
	margin-bottom: -4px;
}
.card {
	width: 360px;
	height: 480px;
	border-radius: 5px !important;
	overflow: hidden;
}
.front, .back {
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	position: absolute;
	overflow: hidden;
	transition: transform 0.4s linear;
}
.front-content {
    padding: 30px;
    padding-top: 20px;
}
.front-content h2 {
    font-size: 25px;
}
.front-content p {
    padding: 8px 0px;
}
.front-content p {
	color: #000;
}
.front {
	transform: rotateY(0deg);
	border: 1px solid lightgray;
}
.back {
	background: #3e3e3e;
	transform: rotateY(180deg);
}
.back-content {
    width: 100%;
    height: 100%;
    padding: 30px;
}
.back-content h2 {
	font-size: 25px;
}
.back-content h2, p {
	color: #fff;
}
.back-content p {
    padding: 20px 0;
}
.start-btn {
    padding-bottom: 36%;
    padding-top: 30px;
}
.btn-success {
	background: #77c701 !important;
	border: 2px solid #77c701 !important;
	letter-spacing: 1px;
	font-weight: bold !important;
}
.btn-success:hover {
	background: transparent !important;
	border: 2px solid #77c701 !important;
	color: #77c701 !important;
	letter-spacing: 1px;
	font-weight: bold !important;
}
#outline2:hover {
	background: #77c701 !important;
	border: 2px solid #77c701 !important;
	font-weight: bold !important;
	letter-spacing: 1px;
	color: #fff !important;
}
#outline2 {
	background: transparent !important;
	border: 2px solid #77c701 !important;
	color: #fff !important;
	font-weight: bold !important;
	letter-spacing: 1px;
}
#outline {
	background: transparent !important;
	border: 2px solid #77c701 !important;
	color: #000 !important;
	letter-spacing: 1px;
}
#outline:hover {
	background: #77c701 !important;
	border: 2px solid #77c701 !important;
	color: #fff !important;
}

.card:hover > .front {
	transform: rotateY(-180deg);
}
.card:hover > .back {
	transform: rotateY(0deg);
}
.card {
	border: none !important;
}

.card-container,
.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 480px;
    margin: 0px 0 30px 0;
}

/*courses card section fronface and backface end*/